---
Checks: "*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -abseil-*,
        -linuxkernel*,
        -llvm*,
        -android-*,
        -readability-magic-numbers,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -altera-struct-pack-align,
        -altera-unroll-loops,
        -altera-id-dependent-backward-branch,
        -readability-identifier-length,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-uppercase-literal-suffix,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -llvm-header-guard,
        -misc-include-cleaner,
        -modernize-use-trailing-return-type,
        readability-identifier-naming,
        llvm-include-order,
        bugprone-*,
        cert-*,
        *-uppercase-literal-suffix,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-vararg,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantPrefix
    value: 'm_'
  - key: readability-identifier-naming.ClassConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprMethodCase
    value: lower_case
  - key: readability-identifier-naming.ClassMethodCase
    value: lower_case
  - key: readability-identifier-naming.PublicMethodCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMethodCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMethodCase
    value: lower_case
  - key: readability-identifier-naming.ConstexprMethodCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.ParameterPackCase
    value: lower_case
  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.TemplateParameterCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: 'm_'
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i|j|k|x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'i|j|k|x|y|z'

